@CHARSET "ISO-8859-1";
.loginForm{
	width:50%;
}
.width-10{
	width:10%;
}
.width-20{
	width:10%;
}
.width-30{
	width:10%;
}
.width-40{
	width:10%;
}
.width-50{
	width:10%;
}
.width-60{
	width:10%;
}
.bg-grey{
	background-color: #ccc;
}
.bg-white{
	background-color: #fff;
}
.sidebar{
	background-color: #fff;
}
.sidebar ul{
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}
.sidebar ul li{
	width: 100%;
	margin: 0;
}
.contentBody{
	background-color: #fff;
}
.row{
	padding-top: 10px;
	
}
html,body{
	background-color: #ccc;
}
table{
	width: 100%;
}