@CHARSET "ISO-8859-1";

.loginForm {
	width: 50%;
}

.width-10 {
	width: 10%;
}

.width-20 {
	width: 10%;
}

.width-30 {
	width: 10%;
}

.width-40 {
	width: 10%;
}

.width-50 {
	width: 10%;
}

.width-60 {
	width: 10%;
}
.width-90 {
	width: 90%;
}
.width-100{
	width:100%;
}
.bg-grey {
	background-color: #ccc;
}

.bg-white {
	background-color: #fff;
}

.sidebar {
	background-color: #fff;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}

.sidebar ul li {
	width: 100%;
	margin: 0;
}

.contentBody {
	background-color: #fff;
	padding-bottom: 20px;
	
}

.row {
	padding-top: 10px;
	padding-left: 10px;
}

html, body {
	background-color: #ccc;
}

table {
	width: 100%;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

hr {
	margin: 5px 0;
	padding: 0;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#profileSelectorContainer {
	display: inline-block;
	float: right;
}

.profileBox {
	width: 15%;
	margin: 10px 2%;
	height: 100px;
	border: 1px solid black;
	display: inline-block;
}

.logoutButton {
	margin-right: 5px;
}

.menuTile {
	display: inline-block;
	margin: 10px 2%;
	width: 20%; height : 100px;
	border: 1px solid #000;
	height: 100px;
}
.errorBox{
	background-color: #f2dede;
	border: 2px solid #ebccd1;
}
.successBox{
	background-color: #dff0d8;
	border: 2px solid #d6e9c6;
}
.border-bottom{
	padding-bottom:10px;
	border-bottom: 1px solid #ccc;
}